<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
  <link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
  <meta charset="UTF-8">
  <title>weloveitproblems</title>
</head>
<body>
  <div class="jumbotron mdl-shadow--4dp">
    <div class="header"></div>
    <div class="nav">
      <ul class="navbar">
        <li id="my_tickets"><a href="/my_tickets" class="link">Mina Ärenden</a></li>
        <li id="create_ticket"><a href="/create_ticket" class="link">Skapa Ärende</a></li>
        <li id="faq"><a href="/faq" class="link">FAQ</a></li>
        <li style="float:right"><form action="/logout" class="active" method="post">
          <button class="logout" type="submit">Logga ut</button></form></li>
      </ul>
    </div>
    <main class="mdl-layout__content">
      <%= yield %>
    </main>
    </div>
</body>
</html>