<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
  <link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
  <meta charset="UTF-8">
  <title>weloveitproblems</title>
</head>
<body>
  <div class="jumbotron mdl-shadow--4dp">
    <div class="header"></div>
    <div class="nav">
      <ul class="navbar">
        <button id="demo-menu-lower-left"
                class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons">more_vert</i>
        </button>

        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
            for="demo-menu-lower-left">
          <li class="mdl-menu__item"><a href="/student/my_tickets" class="mobilelink">Mina Ärenden</a></li>
          <li class="mdl-menu__item"><a href="/student/create_ticket" class="mobilelink">Skapa Ärende</a></li>
          <li class="mdl-menu__item"><a href="/student/faq" class="mobilelink">FAQ</a></li>
        </ul>
        <li class="pclink" id="my_tickets"><a href="/student/my_tickets" class="link">Mina Ärenden</a></li>
        <li class="pclink" id="create_ticket"><a href="/student/create_ticket" class="link">Skapa Ärende</a></li>
        <li class="pclink" id="faq"><a href="/student/faq" class="link">FAQ</a></li>
        <li style="float:right"><form action="/student/logout" class="active" method="post">
          <button class="logout" type="submit">Logga ut</button></form></li>
      </ul>
    </div>
    <main class="mdl-layout__content">
      <%= yield %>
    </main>
    </div>
</body>
</html>