<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
  <link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
  <meta charset="UTF-8">
  <title>weloveitproblems</title>
</head>
<body>
  <div class="jumbotron">
    <svg version="1.1" id="Lager_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 544.5 544.5" style="enable-background:new 0 0 544.5 544.5;" xml:space="preserve">
      <style type="text/css">
        .st0{fill:#FFFFFF;}
        .st1{fill:#009CDD;}
        .st2{fill:#EC0089;}
        .st3{fill:#F7932C;}
      </style>
      <g>
        <rect width="544.5" height="544.5"/>
      </g>
      <g>
        <path class="st0" d="M173.3,118.5c3,10.9,6,21.8,9.3,32.8c5.6,19.5,6.6,22.7,9.8,42.4c3-20.1,3.7-23.6,8.3-44.3
		c2.2-10.3,4.5-20.7,6.6-30.9h25.1l-25.7,101.4h-26.1c-3.2-11.2-6.2-22.4-9.5-33.5c-5.5-18.7-5.7-19.4-8.8-33.6
		c-2.6,12.5-2.9,13.5-8.6,32.9l-9.8,34.2h-26.1L92.1,118.5h25.3c10.9,48.1,12.1,53.4,15.1,75.4c3.7-20.1,4.7-24,10.1-44.1l8.3-31.3
		H173.3z"/>
        <path class="st0" d="M238.9,118.5h75v19.7h-49.7v18.4h46.4v19.3h-46.4v24.1h54.2v20h-79.4V118.5z"/>
        <path class="st1" d="M101.9,235.4h25.3v80.2h39.7v21.4h-64.9V235.4z"/>
        <path class="st2" d="M220,339.8c-32.2,0-50.4-24.7-50.4-54c0-27.4,17.4-53.4,50-53.4c6,0,12.4,0.9,18.5,3c31,10.8,33,44.5,33,51.4
		c0,17.5-8,33.3-19.2,42.4C242,337.4,230.5,339.8,220,339.8z M237.5,261c-4.3-4.6-10.9-7.5-17.8-7.5c-15.4,0-25.1,13.5-25.1,31.9
		c0,24.1,13.5,33,25.4,33c12.1,0,25-8.6,25.7-29.9C246.2,277.9,243.3,267.1,237.5,261z"/>
        <path class="st3" d="M339.6,235.5h27l-35.2,101.4h-25.9l-34.8-101.4h27l21,72.1L339.6,235.5z"/>
        <path class="st0" d="M372.9,235.5h75v19.7h-49.7v18.4h46.4v19.3h-46.4V317h54.2v20h-79.4V235.5z"/>
        <path class="st0" d="M127,352.6V454h-25.3V352.6H127z"/>
        <path class="st0" d="M134.5,352.4h78.2v20.1h-26.3V454h-25.4v-81.5h-26.4V352.4z"/>
        <path class="st0" d="M211.3,429.6h23V454h-23V429.6z"/>
      </g>
    </svg>
    <div id="login">
      <form id="loginform" action="/login" method="post">
        <input id="emailinput" name="email" type="text" placeholder="email">
        <input id="passwordinput" name="password" type="password" placeholder="password">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Logga in</button>
      </form>
    </div>
  </div>
</body>
</html>