<div class="ticket">
  <h2><%= @ticket.title %></h2>
  <p><%= @ticket.description%></p>
  <% for comment in @ticket.comments %>
      <p class="comment_description"><%= comment.description %></p>
  <% end %>
  <p><%= @ticket.status %></p>
</div>

<style>
  #active {
    background-color: #e6e6e6;
  }
</style>